* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Orbitron", sans-serif;
    font-weight: 900;
    font-style: normal;
    border: none;
}

:root {
    --font-size-index: calc(1vw + 1vh);
    --snakeTitle-color: #FF3EA5;
    --color_1: #6420AA;
    --color_2: #FF3EA5;
    --color_3: #FF7ED4;
    --color_4: #FFB5DA;
    --color_5: #8FD14F;
    --color_6: #F5F5F5;

    --skin-1__back: #FF7ED4;
    --skin-1__border: #FF3EA5;
    --skin-2__back: #41B3A2;
    --skin-2__border: #0D7C66;
    --skin-3__back: #FFF455;
    --skin-3__border: #FFC700;
    /* --color_6: #FF3EA5; */
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.snake-title {
    position: absolute;
    top: 0;
    
    font-size: calc(3 * var(--font-size-index));
    height: 15%;
    padding: 1% 0;
    
    color: var(--snakeTitle-color);
    text-shadow: 5px 2px 0 var(--color_1), 4px 4px 5px rgba(0, 0, 0, 0.5), 0 0 10px var(--color_2);
}

.flex-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin: 0 auto;
    height: 70%;
    width: 85%;
}

.menu-container {
    height: 100%;
    width: 80%;
    border: 2px solid var(--color_2);
    border-radius: 5px;
    background-color: var(--color_1);
    text-align: center;
    box-shadow: 0 0 10px var(--color_2), 0 0 10px #000;
}


/* .load-timer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: calc(2 * var(--font-size-index));
    color: var(--color_3);
    text-shadow: 0px 3px 0px var(--color_2);
} */

.snake-field__container {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0.9);
}

.snake-field {
    display: none;
    margin: 0 20px;
    background-color: var(--color_1);
    border: 2px solid var(--color_2);
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    box-shadow: 0 0 10px var(--color_2), 0 0 10px #000;
}

.score-in-square, .time-in-square {
    display: none;
    flex-direction: column;
    width: 240px;
    background-color: var(--color_1);
    border: 2px solid var(--color_2);
    border-radius: 5px;
    padding: 1%;
    opacity: 0;
    transform: translateY(-20px);
    box-shadow: 0 0 10px var(--color_2), 0 0 10px #000;
}
.score-in-square span, .time-in-square span {
    border-bottom: 2px solid var(--color_2);
    text-align: center;
    padding-bottom: 5px;
}
.score, .time {
    font-size: calc(2 * var(--font-size-index));
    color: var(--color_3);
    text-shadow: 0px 3px 0px var(--color_2);
    text-align: center;
}


.gameOverModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color_1);
    border-radius: 5px;
    border: 2px solid var(--color_2);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.gameOverModal p:first-of-type {
    font-size: calc(1.2 * var(--font-size-index));
    margin-bottom: calc(var(--font-size-index) / 2);
}
.gameOverModal button:first-of-type {
    margin-top: calc(var(--font-size-index) / 2);
    margin-right: calc(var(--font-size-index) / 2);
}
.gameOverModal button:active {
    box-shadow: inset -2px -2px 0px 0px var(--color_2);
    color: var(--color_2);
    text-shadow: 0px 0px 10px var(--color_2);
    transform: translateY(4px); 
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: calc(20% - 20px);
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid var(--color_2);
    background-color: var(--color_4);
    box-shadow: 0 0 10px var(--color_2), 0 0 10px #000;
    overflow: hidden;
}
.rating__best-players {
    text-align: center;
    font-size: calc(.7* var(--font-size-index));
}
.flex-item {
    display: flex;
}
.flex-item > * {
    font-size: calc(.5 * var(--font-size-index));
    font-weight: 400;
}
aside, section {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rating__columns-names {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color_2);
}
.rating__columns-names__number, .rating__record__number {
    text-align: center;
    flex: 1.4;
}
.rating__columns-names__name, .rating__record__name {
    flex: 5.6;
}
.rating__columns-names__score, .rating__record__score {
    flex: 3;
}


@media screen and (max-width: 769px) {
    .flex-container {
        flex-direction: column;
        height: fit-content;
        width: 90%;
    }
    .menu-container {
        width: 100%;
        height: 80vh;
    }
    .rating {
        min-height: fit-content;
        width: 100%;

        margin: 10px 0 0 0;
        
        justify-content: space-between;
    }
}
@media screen and (max-width: 1440px){ 
    *{
        font-size: 13px;
    }
    .flex-item > * {
        font-size: 10px;
    }
}
@media screen and (max-width: 1180px){ 
    *{
        font-size: 10px;
    }
    .flex-item > * {
        font-size: 8px;
    }
}
